.git
.github
.venv
venv
node_modules
__pycache__
*.pyc
*.pyo
*.pyd
.db
.ipynb_checkpoints
.pytest_cache
mlruns/
artifacts/
.dvc/
data/*.csv
!data/processed/*.csv
logs/
.env
Dockerfile
Jenkinsfile
docker-compose.yml
readme.md
CVS
.svn
.hg
.lock-wscript
.DS_Store
